.box {
  border: 1px solid #aaa;
  width: 100px;
  text-align: center;
  padding: 50px;
  font-size: 80px;
}

button {
  font-size: 90px;
  margin: 5px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: 0;
}
